.wrap {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 500px;
  box-shadow: 0 2px 40px 0 rgba(0,0,0,.06);
  z-index: 1;
  padding: 50px 78px;
  border-radius: var(--radius-normal);
  background-color: var(--white);
  box-sizing: border-box;
  font-size: var(--font-size-normal);
  font-family: var(--font-family-system);
  color: var(--shade-05);
  @media (max-width: 768px) {
    padding: 40px 40px;
  }
}

.button_text {
  color: var(--white);
  font-family: var(--font-family-system);
}

.button_margin {
  margin-top: var(--spacing-normal);
}
