.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  height: 130px;
  padding: 15px 30px 15px 30px;
  box-shadow: 0 2px 40px 0 rgba(0,0,0,.06);
  margin-top: var(--spacing-larger);
  border-radius: var(--radius-larger);
  box-sizing: border-box;
  font-family: var(--font-family-system);
  color: var(--shade-05);
  background-color: var(--white);
}

.number {
  font-size: x-large;
  font-weight: bolder;
  color: var(--black);
}

.button_give {
  margin-top: 10px;
  color: var(--black);
}
