.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: var(--font-family-title);
  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
}

.title,
.description {
  text-align: center;
}

.description_1 {
  line-height: 1.5;
  font-size: 1.4rem;
  margin-top: 30px;
  text-align: center;
  font-family: var(--font-family-system);
}

.description_2 {
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: var(--font-family-system);
}

.icons_grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
