.wrap {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.text_area_box {
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 50px;
  padding-right: 17px;
  border: 1px #d8dadf solid;
}

.text_area {
  box-sizing: content-box;
  width: 100%;
  overflow-y: scroll;
  border: none;
  &:focus {
    outline: none;
  }
}

.submit_button {
  width: 15%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #bababa;

  &:hover {
    background-color: #ababab;
    scale: 1.05;
  }
}

.button_text {
  color: var(--white);
  font-family: var(--font-family-system);
}

.button_margin {
  margin-top: var(--spacing-large);
}

.margin_button_wrap {
  display: flex;
  justify-content: flex-end;
}
