.wrap {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.text_area_box {
  width: 100%;
  margin-top: 20px;
  border-top: 2px var(--moon-dust) solid;
  border-bottom: 2px var(--moon-dust) solid;
}

.text_area {
  width: 100%;
  border: none;
  &:focus {
    outline: none;
  }
}

.submit_button {
  width: 15%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #bababa;

  &:hover {
    background-color: #ababab;
    scale: 1.05;
  }
}

.button_text {
  color: var(--black);
  font-family: var(--font-family-system);
}

.button_margin {
  margin: 20px 20px 20px 20px
}

.margin_button_wrap {
  display: flex;
  justify-content: flex-end;
}
