.wrap {
  width: 100%;
  height: auto;
  box-shadow: 1px 1px 2px grey;
  border-radius: var(--radius-larger);
}

.image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px #b3b3b3 solid;
}

.story_wrap {
  width: 100%;
  height: auto;
  padding: 0 10px 0 10px;
  border: 1px #b3b3b3 solid;
  border-radius: var(--radius-larger);
  word-break: break-all;
  background-color: var(--green);
}

.text {
  text-align: justify;
}
