.wrap {
  display: flex;
  flex-direction: column;
  margin: 150px auto;
  width: 1000px;
  box-shadow: 0 2px 40px 0 rgba(0,0,0,.06);
  z-index: 1;
  padding: 40px 78px;
  border-radius: var(--radius-normal);
  background-color: var(--white);
  box-sizing: border-box;
  font-size: var(--font-size-normal);
  font-family: var(--font-family-system);
  color: var(--shade-05);
}

.button_text {
  color: var(--white);
  font-family: var(--font-family-system);
}

.button_margin {
  margin-top: var(--spacing-normal);
}

.text_area_box {
  margin-top: 20px;
  overflow: hidden;
  border-radius: 50px;
  padding-right: 17px;
  border: 1px #d8dadf solid;
}

.text_area {
  box-sizing: content-box;
  width: 100%;
  overflow-y: scroll;
  border: none;
  &:focus {
    outline: none;
  }
}
