.wrap {
  display: flex;
  flex-direction: column;
  margin: 150px auto;
  width: 1000px;
  box-shadow: 0 2px 40px 0 rgba(0,0,0,.06);
  z-index: 1;
  border-radius: var(--radius-larger);
  background-color: var(--white);
  box-sizing: border-box;
  font-size: var(--font-size-normal);
  font-family: var(--font-family-system);
  color: var(--shade-05);
}

.button_text {
  color: var(--white);
  font-family: var(--font-family-system);
}

.text_area_box {
  border-top: 2px var(--moon-dust) solid;
  border-bottom: 2px var(--moon-dust) solid;
}

.text_area {
  width: 100%;
  border: none;
  background-color: var(--white);
  &:focus {
    outline: none;
  }
}

.title_input {
  padding: 50px 30px 50px 30px;
  width: 100%;
  font-size: 30px;
  background-color: var(--white);
  border: none;
  &::placeholder {
    font-size: 30px;
  }
}
