.wrap {
  background: linear-gradient(rgba(255, 230, 151, 0.2), rgba(255, 230, 151, 0.2)), url('../../../assets/main_background.jpg');
  background-size: cover;
  font-family: var(--font-family-system);
  min-height: 100vh;
  box-sizing: border-box;
  @media (max-width: 768px) {
    background: linear-gradient(rgba(255, 230, 151, 0.2), rgba(255, 230, 151, 0.2)), url('../../../assets/main_background.jpg');
    padding: 0 20px;
  }
}
