.wrap {
  background: linear-gradient(rgb(135, 206, 235), rgb(255, 182, 193), rgb(135, 206, 235));
  background-size: cover;
  font-family: var(--font-family-system);
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 130px;
  @media (max-width: 768px) {
    padding: 0 20px 130px 20px;
  }
}
