.comment_wrap {
  min-height: 40px;
  margin-top: 10px;
  padding: 15px 0 15px 10px;
  border-top: 2px var(--moon-dust) solid;
}

.comment_border {
  border-left: 5px var(--moon-dust) solid;
  padding-left: 15px;
}

.form_comment {
  cursor: pointer;
  width: fit-content;
}

.flip_horizontal_bottom {
	-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

 @-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}

.one_comment_wrap {
  position: relative;
  padding-right: 30px;
  &:hover {
    .button_delete_comment {
      display: flex;
    }
  }
}

.button_delete_comment {
  position: absolute;
  right: 3px;
  background-color: var(--shade-45);
  border-radius: 50px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: background-color 0.5s;
  &:hover {
    background-color: var(--shade-40);
  }
}

.new_pill {
  color: var(--black);
  padding: 4px 8px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 9px;
  border-style: solid;
  border-width: 1px;
  border: none;
  background-color: var(--blue-40);
}

.small_margin_left {
  margin-left: var(--spacing-smaller)
}

.small_margin_right {
  margin-right: var(--spacing-smaller)
}


