.comment_wrap {
  min-height: 40px;
  margin-top: 10px;
  padding: 15px 30px 15px 30px;
  border-top: 2px var(--moon-dust) solid;
}

.comment_border {
  border-left: 5px var(--moon-dust) solid;
  padding-left: 15px;
}

.form_comment {
  cursor: pointer;
  width: fit-content;
}
