.comment_wrap {
  min-height: 40px;
  margin-top: 10px;
  padding: 15px 30px 15px 30px;
  border-top: 2px var(--moon-dust) solid;
}

.comment_border {
  border-left: 5px var(--moon-dust) solid;
  padding-left: 15px;
}

.form_comment {
  cursor: pointer;
  width: fit-content;
}

.flip_horizontal_bottom {
	-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

 @-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}

