.wrap {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1000px;
  box-sizing: border-box;
  font-size: var(--font-size-normal);
  font-family: var(--font-family-system);
  color: var(--shade-05);
}