.wrap {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1000px;
  box-sizing: border-box;
  font-size: var(--font-size-normal);
  font-family: var(--font-family-system);
  color: var(--shade-05);
}

.counters_wrap {
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
   }
}

.your_story_title_wrap {
  position: relative;
}

.button_give {
  position: absolute;
  left: 870px;
  bottom: 15px;
  color: var(--white);
  @media (max-width: 768px) {
    left: 250px;
   }
}

