.row_grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.row_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-shadow: 0 2px 40px 0 rgba(0,0,0,.06);
  margin-top: var(--spacing-larger);
  border-radius: var(--radius-larger);
  box-sizing: border-box;
  font-size: var(--font-size-normal);
  font-family: var(--font-family-system);
  color: var(--shade-05);
  background-color: var(--white);
}

.story_wrap {
  padding: 0 30px 15px 30px;
}

.main_text {
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-normal);
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  font-family: var(--font-family-system);
  box-sizing: border-box;
  color: var(--shade-05);
}

.link_to_needLove {
  font-size: 20px;
  font-family: var(--font-family-system);
  box-sizing: border-box;
  cursor: pointer;
  font-weight: var(--font-weight-medium);
  color: var(--white);
  outline: none;
}

.link_wrap {
  margin-top: var(--spacing-medium);
}
